<div class="good">
    <main>
        <div class="detailsBanner">
            <div class="swiper-container">
                <div class="swiper-wrapper">
                    {{each data[0].photos value index}}
                    <div class="swiper-slide"><img src="{{value.image}}">
                    </div>
                    {{/each}}
                    <!-- <div class="swiper-slide"><img
                            src="https://img2.epetbar.com/2018-12/11/19/e4ba4793d7642bb9cb858c2f0b1b35af.jpg?x-oss-process=style/cut&amp;$1=500&amp;$2=500">
                    </div>
                    <div class="swiper-slide"><img
                            src="https://img2.epetbar.com/2018-12/11/19/c2312425f53821f34b8c62f0b7af1189.jpg?x-oss-process=style/cut&amp;$1=500&amp;$2=500">
                    </div>
                    <div class="swiper-slide"><img
                            src="https://img2.epetbar.com/2018-12/11/19/bb3a83b5f690822daad029bf279b5ac2.jpg?x-oss-process=style/cut&amp;$1=500&amp;$2=500">
                    </div>
                    <div class="swiper-slide"><img
                            src="https://img2.epetbar.com/2018-12/11/19/71374332059255e9b5215a9ba0c6f549.jpg?x-oss-process=style/cut&amp;$1=500&amp;$2=500">
                    </div> -->
                </div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
        <div class="info">
            <p>{{data[1].subject}}</p>
            <p>{{data[1].presubject}}</p>
            <div>
                <span>
                    <span>￥</span>
                    <span>116.00</span>
                    <span>￥135.40</span>
                </span>
                <a href="javascript:void(0);"><img src="https://static.epetbar.com/static_wap/appmall/lib/goods/quality_assurance.png"
                        alt=""></a>
            </div>
        </div>
        <div class="cartDetails">
            <span>购买数量</span>
            <div>
                <span>-</span>
                <input type="text" value="1">
                <span>+</span>
            </div>
        </div>
    </main>
    <footer>
        <div>
            <a href="javascript:void(0);">
                <i></i>
                <span>收藏</span>
            </a>
            <a href="javascript:void(0);">
                <i>
                    <span class="cartNum">0</span>
                </i>
                <span>购物车</span>
            </a>
        </div>
        <div class="addCartBtn">
            加入购物车
        </div>
    </footer>
</div>