<div class="container">
  <header>
    <div class="search">
      <a href="#">
        <img src="./images/index/search.png" alt="">
        <span>请输入搜索内容</span>
      </a>
      <a href="#"></a>
    </div>
    <nav>
      <ul>
        <li class="active"><a href="#/index/listPages">精选</a></li>
        <li><a href="#">美味零食</a></li>
        <li><a href="#">进口狗粮</a></li>
        <li><a href="#">国产狗粮</a></li>
        <li><a href="#">营养保健</a></li>
      </ul>
    </nav>
  </header>
  <main></main>
  <nav>
    <ul>
      <li><a href="#/index/home/selectCarefully"></a></li>
      <li><a href="#/index/home/classification"></a></li>
      <li><a href="#/index/home/littleCuteBook"></a></li>
      <li><a href="#/index/home/cart"></a></li>
      <li><a href="#/index/home/profile"></a></li>
    </ul>
  </nav>
</div>