<div class="container">
  <header>
    <div class="search">
      <a href="#">
        <img src="./images/index/search.png" alt="">
        <span>请输入搜索内容</span>
      </a>
      <a href="#"><img src="./images/index/message.png" alt=""></a>
    </div>
    <nav>
      <ul>
        <li class="active"><a href="#">精选</a></li>
        <li><a href="#">美味零食</a></li>
        <li><a href="#">进口狗粮</a></li>
        <li><a href="#">国产狗粮</a></li>
        <li><a href="#">营养保健</a></li>
      </ul>
    </nav>
  </header>
  <main>
    <div class="banner swiper-container">
      <div class="swiper-wrapper">
        <div class="swiper-slide"><img
            src="https://img2.epetbar.com/nowater/2019-05/29/20/03f9905df9ec2e9c61c588d40fb994b3.jpg?x-oss-process=style/water"
            alt=""></div>
        <div class="swiper-slide"><img
            src="https://img2.epetbar.com/nowater/2019-06/03/19/1bc35abeff7cef32382cae12f9640ebb.jpg?x-oss-process=style/water"
            alt=""></div>
        <div class="swiper-slide"><img
            src="https://img2.epetbar.com/2019-05/31/13/ddafdaed9a971c171328c20e0c472407.jpg?x-oss-process=style/water"
            alt=""></div>
        <div class="swiper-slide"><img
            src="https://img2.epetbar.com/nowater/2019-05/29/20/feb4e57db88c26eb743b95ba0eca0d02.jpg?x-oss-process=style/water"
            alt=""></div>
        <div class="swiper-slide"><img
            src="https://img2.epetbar.com/nowater/2019-05/29/20/00b31f15647bbc2a953b3094636b2696.jpg?x-oss-process=style/water"
            alt=""></div>
        <div class="swiper-slide"><img
            src="https://img2.epetbar.com/nowater/2019-05/29/20/d575f58745d094103d96fd2b40def6f6.jpg?x-oss-process=style/water"
            alt=""></div>
        <div class="swiper-slide"><img
            src="https://img2.epetbar.com/nowater/2019-05/29/20/9afcc36d225b55cfa6f990e57c59c211.jpg?x-oss-process=style/water"
            alt=""></div>
        <div class="swiper-slide"><img
            src="https://img2.epetbar.com/nowater/2019-05/29/20/ae4d6007f528b26e0067464887a38d3d.jpg?x-oss-process=style/water"
            alt=""></div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
    <div class="menu">
      <ul>
        <li><a href="#"><img src="https://img2.epetbar.com/2018-10/19/19/9aa905ec1644bf2773a451aca9af06d3.png@!water"
              alt=""></a></li>
        <li><a href="#"><img src="https://img2.epetbar.com/2018-10/19/18/ed8fcf7e8b283838a02a6a1604cb0237.png@!water"
              alt=""></a></li>
        <li><a href="#"><img src="https://img2.epetbar.com/2018-10/24/12/01eec912897fc4ec3b440eedeaa6f321.png@!water"
              alt=""></a></li>
        <li><a href="#"><img src="https://img2.epetbar.com/2019-05/24/13/691f3019d676e751a88f83dd23e5c2c5.png@!water"
              alt=""></a></li>
        <li><a href="#"><img src="https://img2.epetbar.com/2019-03/12/10/7afd8f297dcf5ef870f87e8bca179ee1.png@!water"
              alt=""></a></li>
      </ul>
    </div>
    <div class="newPeopleVip">
      <a href="#"><img
          src="https://img2.epetbar.com/nowater/2019-03/15/16/ddf4e22592cc4247984a540f27d82eeb.jpg?x-oss-process=style/water"
          alt=""></a>
      <a href="#"><img
          src="https://img2.epetbar.com/nowater/2019-03/15/16/4f76f7818f8a6cd54ba38586e988bcd4.jpg?x-oss-process=style/water"
          alt=""></a>
    </div>
    <div class="ADImg">
      <a href="#"><img
          src="https://img2.epetbar.com/2019-04/29/17/9b741aa046f1912a18dc670737d1c778.gif?x-oss-process=style/water"
          alt=""></a>
    </div>
  </main>
  <nav>
    <ul>
      <li class="active"><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
      <li><a href="#"></a></li>
    </ul>
  </nav>
</div>