<div id="listPages-scroll">
    <div class="listPages">
        <div class="head">
            <img src="/images/listPages/arrow.png" />
            <b>下拉刷新...</b>
        </div>
        <header>
            <a class="goBack" href="#"></a>
            <span>预售主粮专区分会场</span>
            <a href="#"></a>
        </header>
        <main>
            <img class="topImg"
                src="//img2.epetbar.com/nowater/2019-05/31/13/1d86f1b541036d1953f2d5dcf157519e.jpg@!water" alt="">
            <div class="content">
                <div class="tab">
                    <ul>
                        <li class="active"><a href="#">616精选</a></li>
                        <li><a href="#">幼犬</a></li>
                        <li><a href="#">成犬</a></li>
                        <li><a href="#">全犬</a></li>
                    </ul>
                </div>
                <div class="goodsBox">
                    <ul class="goodsLists">
                        <!-- <li>
                        <a href="#"><img src="//img1.epetbar.com/goods/sales/upload_file_20191235862.jpg@!200w-c"
                                alt=""></a>
                        <div class="rightBox">
                            <a href="#">【直降209元】伯纳天纯 低敏无谷中大型犬幼犬粮 15kg</a>
                            <div>
                                <div>
                                    <p>
                                        <span class="ft12">预售价</span>
                                        <span class="ft12">:¥</span>
                                        <span>309</span>
            z                            <span class="ft12">.00</span>
                                        <span class="ft12">定金¥10.00</span>
                                    </p>
                                    <p class="ft12">E宠价：¥539.00</p>
                                </div>
                                <a href="###">去预定</a>
                            </div>
                        </div>
                    </li> -->
                    </ul>
                </div>
            </div>
        </main>
        <div class="foot">
            <img src="/images/listPages/arrow.png" />
            <b>上拉加载更多...</b>
        </div>
    </div>
</div>