<div class="searchBox">
    <header>
        <a class="goBack" href="#"></a>
        <div>
            <input class="searchInput" type="text" placeholder="搜索你喜欢的宝贝">
            <a class="searchIcon searchBtn" href="javascript:void(0);">
                <img src="//static.epetbar.com/static_wap/epetapp/pages/search/images/search-ico.png" alt="">
            </a>
        </div>
        <a class="searchBtn" href="javascript:void(0);">搜索</a>
    </header>
    <main>
        <div class="boutiqueRecommend">
            <p>
                <img src="//static.epetbar.com/static_wap/epetapp/pages/search/images/rmss.png" alt="">
                精品推荐
            </p>
            <ul>
                <li><a class="searchAKey" href="javascript:void(0);">澳大利亚</a></li>
                <li><a class="searchAKey" href="javascript:void(0);">狗粮</a></li>
                <li><a href="javascript:void(0);">钙胃能</a></li>
                <li><a href="javascript:void(0);">比熊</a></li>
                <li><a href="javascript:void(0);">除臭饼干</a></li>
                <li><a href="javascript:void(0);">冠能</a></li>
                <li><a href="javascript:void(0);">跳蚤</a></li>
                <li><a href="javascript:void(0);">狗笼子</a></li>
                <li><a href="javascript:void(0);">狗碗</a></li>
                <li><a href="javascript:void(0);">比瑞吉</a></li>
            </ul>
        </div>
        <div class="recently">
            <p>
                <img src="//static.epetbar.com/static_wap/epetapp/pages/search/images/zjss.png" alt="">
                最近搜索
            </p>
            <ul>
                <li><a href="javascript:void(0);">狗</a></li>
                <li><a href="javascript:void(0);">粮</a></li>
            </ul>
        </div>
        <div class="clearHistory">清空搜索历史</div>
    </main>
</div>