<div class="searchListPages">
    <header>
        <a class="goBack" href="#"></a>
        <span>商品列表</span>
        <a href="javascript:void(0);"></a>
    </header>
    <main>
        <div class="searchBox">
            <a href="#/index/home/search">
                <img src="//static.epetbar.com/static_wap/epetapp/pages/search/images/search-ico.png" alt="">
                <input class="searchInput" type="text" name="" id="" value="{{keywords}}">
            </a>
        </div>
        <ul class="searchGoodsListPage">
            <!-- <li>
                <a href="">
                    <img src="https://img2.epetbar.com/2014-12/04/bfa282b6f9d79b7cec9f3c0258353f50.jpg@!300w-b" alt="">
                    <div>
                        <h1>狗狗食碗水碗 PP塑料圆碗</h1>
                        <p class="price">¥15.00</p>
                        <div class="interaction">
                            <span>互动:(100%好评)</span>
                            <span>售出:54</span>
                        </div>
                        <div class="cartIcon">
                            <img src="//static.epetbar.com/static_wap/epetapp/pages/index/images/addcart.png" alt="">
                        </div>
                    </div>
                </a>
            </li> -->
        </ul>
    </main>
</div>